<div class="col-xs-3 div-padding">
    <div class="contact-div">
        <div class="icon-left"><i class="fa fa-heart heart-icon" aria-hidden="true"></i></div>

        <div class="icon-right">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <i class="fa fa-trash trash-icon-margin" aria-hidden="true"></i>
        </div>
        <div class="contact-name">
            <div class="image-cropper"><img class="rounded" [src]="addie" />
            </div>
        </div>

        <div class="contact-name">Addie Hernandez</div>
    </div>
</div>

<div class="col-xs-3 div-padding">
    <div class="contact-div">
        <div class="icon-left"><i class="fa fa-heart heart-icon" aria-hidden="true"></i></div>

        <div class="icon-right">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <i class="fa fa-trash trash-icon-margin" aria-hidden="true"></i>
        </div>
        <div class="contact-name">
            <div class="image-cropper"><img class="rounded" [src]="oscar" />
            </div>
        </div>
        <div class="contact-name">Oscar Arnold</div>
    </div>
</div>

<div class="col-xs-3 div-padding">
    <div class="contact-div">
        <div class="icon-left"><i class="fa fa-heart heart-icon" aria-hidden="true"></i></div>

        <div class="icon-right">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <i class="fa fa-trash trash-icon-margin" aria-hidden="true"></i>
        </div>
        <div class="contact-name">
            <div class="image-cropper"><img class="rounded" [src]="agnes" />
            </div>
        </div>
        <div class="contact-name">Agnes Terry</div>
    </div>
</div>