<div class="hide-mobile">
    <div class="dialog-header">
        {{data.header}}
    </div>
    <div class="header-divider"></div>
    <div class="dialog-body">
        {{data.message}}
    </div>
    <div class="dialog-action">
        <button class="action-button button-grey pull-left" (click)="closeDialog(false)">No</button>
        <button class="action-button button-green pull-right" (click)="closeDialog(true)">Yes</button>
    </div>

</div>

<div class="show-mobile">
    <div class="dialog-header">
        {{data.header}}
    </div>
    <div class="header-divider"></div>
    <div class="dialog-body">
        {{data.message}}
    </div>
    <div class="dialog-action">
        <button class="action-button button-grey" (click)="closeDialog(false)">No</button>
        <button class="action-button button-green" (click)="closeDialog(true)">Yes</button>
    </div>
</div>