.contacts-body {
    margin-top: 64px; 
    text-align: center;
}

.contact-div {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 16px;
    height: 150px;
    transition: border 0.2s;
}

.div-padding {
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact-div:hover {
    border: 1px solid rgba(0, 153, 153, .8);
}

.contact-div:hover > .contact-name {
    font-weight: 600;
    color: rgba(0, 153, 153, .8);
    cursor: pointer;
}

.contact-div:hover > .name-long {
    font-weight: 600;
    color: rgba(0, 153, 153, .8);
    cursor: pointer;
}

.add-new-contact-div {
    border: 1px dashed lightgrey;
}

.add-new-contact-div:hover {
    border: 1px dashed rgba(0, 153, 153, .8);
    cursor: pointer;
}

.add-new-contact-div:hover > .contact-name {
    font-weight: 600;
    color: rgba(0, 153, 153, .8);
}

.add-new-name {
    padding-top: 32px;
}

.contact-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: lightgrey;
    font-size: 18px;
    transition: color 0.2s;
}

.icon-left {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.icon-right {
    display: inline-block;
    text-align: right;
    width: 50%;
}

.trash-icon-margin {
    margin-left: 16px;
}

.icon-interactive {
    color: lightgrey;
    transition: font-size 0.2s;
}

.icon-interactive:hover {
    color: rgba(0, 153, 153, .8);
    cursor: pointer;
}

.heart-icon:hover {
    color: red;
}

.image-cropper {
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid lightgrey;
    margin-bottom: 8px;
}

.name-long {
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: lightgrey;
    font-size: 18px;
}

@media screen and (max-width: 600px) {

    .contacts-body {
        margin-top: 32px; 
        text-align: center;
    }

    .contact-div {
        border: 1px solid lightgrey;
        border-radius: 3px;
        height: 40px;
        transition: border 0.2s;
        padding: 4px;
    }

    .contact-name {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: lightgrey;
        font-size: 12px;
        transition: color 0.2s;
        
    }

    .name-long {
        max-width: 110px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
    }

    .add-new-contact-div {
        border: 1px dashed #2DA1AD;
    }

    .add-new-name {
        padding-top: 8px;
    }

    .image-cropper {
        width: 30px;
        height: 30px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid lightgrey;
        margin-bottom: 0px;
        margin-right: 8px;
    }

    .icon-interactive {
        color: lightgrey;
        font-size: 11px;
        padding-right: 8px;
    }

    .div-padding {
        padding-top: 15px;
        padding-bottom: 0px;
    }

}

@media screen and (max-width: 450px) {
    .name-long {
        max-width: 100px;
    }
}

@media screen and (max-width: 300px) {
    .name-long {
        max-width: 60px;
    }
}

