/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: lato;
    src: url(./assets/fonts/Lato-Bold.ttf) format("opentype");
  }

body {
    background-color: lightgrey;
    margin-top: 0px;
    margin-bottom: 64px;
    overflow-x: hidden;  
}

img {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.show-mobile {
    display: none;
}

.hide-mobile {
    display: block;
}

.client-data-header {
    margin-top: 64px;
}

@media only screen and (max-width: 600px) {

    body {
        margin-bottom: 12px;
    }

    .show-mobile {
        display: block;
    }
    
    .hide-mobile {
        display: none;
    }

    .client-data-header {
        margin-top: 12px;
    }

}