/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: lato;
    src: url(./assets/fonts/Lato-Bold.ttf) format("opentype");
  }

body {
    background-color: lightgrey;
    margin-top: 0px;
    margin-bottom: 64px;
    overflow-x: hidden;  
}

@media only screen and (max-width: 900px) { /* Screen which has a maximum width of 900px */

    body {
        background-color: lightgrey;
        margin-top: 0px;
        margin-bottom: 12px;
        overflow-x: hidden;  
    }

}